*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header.container {
    padding: 10px;
    text-align: right;
    background: #465542;
    color: whitesmoke;
}  
nav {
    display: flexbox;
   }
nav p{
    text-align: end;
    padding: 10px 10px;
    background: #63775d;
}   
section.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #d9e2d7;
    background-color: #6f8569;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(224, 217, 217);
}
 h2{
    display: flex;
    font-size: 30px;
    color: rgb(218, 213, 213);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.work img{
    display: flex;
    width: 60%;
}
.about-me img {
    max-width: 20% ;
    height: auto;
}
    
